@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root {
  --background: #131313;
  --buttons: #7362ca;
  --buttons-hover: #ff918d;
  --button-text:#ffffff;
  --text: #ffffff;
  --nadpis: #6f60cc;
  --popups: #f8f9fa;
  --podnadpis: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body{
  display: block;
  font-family: "Montserrat";
  background-color: var(--background);
  line-height: 1.4;
  width: 100%;
  height: 100%;

  background: #131313;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}

p {
  font-size: 16px
}

header {
  color: #96BB7C;
  margin-top: 100px;
  margin-bottom: 100px;
}







.features-section {
  padding: 50px 20px;
  text-align: center;
}

.features-container {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.feature-box {
  background: var(--background);
  padding: 20px;
  border-radius: 5px;
  max-width: 300px;
  width: 320px;
  box-shadow: 0 0px 30px #ff918d;
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  color: white;
}

.feature-box h3 {
  margin-bottom: 10px;
  background-image: linear-gradient(#6f60cc, #ff918d);
  color: transparent;
  background-clip: text;
}


#Nadpis {
  font-size: 16rem;
  letter-spacing: 10px;
  top: 60px;
  background-image: linear-gradient(#6f60cc, #ff918d);
  color: transparent;
  background-clip: text;
  margin-bottom: 0.5rem;
  text-align: center;
}

#podnadpis {
  font-size: 1200%;
  color: var(--text);
  margin-bottom: 1rem;
  margin-top: 10px;
  text-align: center;
}
#podpodnadpis{
  font-size: 30px;
  color: var(--text);
  margin-top: 10px;
  text-align: center;

}

#podpodnadpis1{
  font-size: 70px;
  color: var(--text);
  margin-top: 10px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 30px;
}

#headbt {
  display: flex;
  justify-content: space-evenly;
}

#buttonss {
  display: flex;
  justify-content: space-evenly;
}

#space {
  background: linear-gradient(-45deg, #ff918d 0%, #6f60cc 100%);
  padding: 9%;  
  width: 100%;
  box-sizing: border-box;
  height: auto; 
  margin: 0; 
}

#cards{
  display: flex;
  justify-content: space-evenly;
  margin-top: 120px;
  margin-bottom: 120px;
}

button {
  font-family: "DM sans";
  font-size: 20px;
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(-45deg, #ff918d 0%, #6f60cc 100%);
    background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0px 20px #553fe2;
}

button:hover {
  background-color: var(--buttons-hover);
  transform: scale(1.05);
}


.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  box-shadow: 0 0px 30px #ff918d;
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: white;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
  font-weight: 700;
  font-size: 32px;
}

.content .para {
  line-height: 1.5;
}

.content .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(-45deg, #ff918d 0%, #6f60cc 100%);
  border-radius: 5px;
  box-shadow: 0 0px 20px #553fe2;
}

.card::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(-45deg, #ff918d 0%, #6f60cc 100%);
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover::before {
  width: 100%;
}

.card:hover {
  box-shadow: none;
  color: white;
}

.card:hover .btn {
  color: #212121;
  background: #e8e8e8;
}

.content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content .btn:active {
  transition: 500ms;
  box-shadow: none;
  padding: 8px;
}

#fot{
  display: flex;
  justify-content: center;
  color: #424242;
}


#cards{
  display: flex;

}

#card{
  color: white;
  font-weight: bold;
  letter-spacing: 1.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  box-shadow: 0 0px 30px #ff918d;
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}


.button {
  display: flex;
  justify-content: center;
  display: inline-block;
  border-radius: 7px;
  border: none;
  background:  linear-gradient(-45deg, #ff918d 0%, #6f60cc 100%);
  color: white;
  font-family: inherit;
  text-align: center;
  font-size: 18px;
  width: 15em;
  padding: 1em;
  transition: all 0.4s;
  cursor: pointer;
 }
 
 .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
  
 }
 
 .button span:after {
  content: 'zadarmo';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;;
 }
 
 .button:hover span {
  padding-right: 4.9em;
  
 }

 .button:hover{
  box-shadow: 0 0px 30px var(--buttons-hover);
 }
 
 .button:hover span:after {
  opacity: 4;
  right: 0;
  
 }

#try{
  display: flex;
  justify-content: space-evenly;
}


#top-right-button {
  position: fixed;
  top: 10px;
  right: 10px;
}


.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}







 /*exit sign?*/

.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
  background: rgb(255, 65, 65);
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
  
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
  background: rgb(255, 65, 65);
}