@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #131313;
    --buttons: #7362ca;
    --buttons-hover: #ff918d;
    --button-text:#ffffff;
    --text: #ffffff;
    --nadpis: #6f60cc;
    --popups: #f8f9fa;
    --podnadpis: #222222;
  }


body, html {
    font-family: "DM Sans";
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
}

.container {
    display: flex;
    width: 100%;
    height: 100vh; /* Full height of the viewport */
}

.image-container {
    width: 50%; /* Half of the width */
    height: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the container */
}

h1{
    font-size: 4rem;
    letter-spacing: auto;
    top: 60px;
    background-image: linear-gradient(#6f60cc, #ff918d);
    color: transparent;
    background-clip: text;
    margin-bottom: 0.5rem;
    text-align: center;
}
p{
    font-size: 25px;
    line-height: 1.6;
    letter-spacing: auto;
}

#buttons{
    margin-top: 20px;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

button{
    font-family: "DM sans";
    font-size: 20px;    
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #ff918d 0%, #6f60cc 100%);
    border-radius: 5px;
    box-shadow: 0 0px 20px #553fe2;
}

button:hover{
    width: 100%;
    transition: 50ms;
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
}

button:active{
    transition: 50ms;
    box-shadow: none;
    padding: 8px;
}

.content {
    color: var(--text);
    width: 50%; /* Other half for content */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;

}

#top-right-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: var(--buttons);
    color: var(--button-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 600;
    z-index: 1000; /* Ensure it stays above other elements */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease;
}

#top-right-button:hover {
    background-color: var(--buttons-hover);
    color: var(--text);
}